@media (max-width: 1030px) {
    /* Features Css */

}

@media (max-width: 991px) {
    /* Common Css */
    h1, h2 {
        font-size: 2.5rem;
    }
    .ipad_px_30 {
        padding: 0 1.875rem;
    }
    
    /* Header Css */

    /* Home Css */

    /* Pricing Css */
    
}

@media (max-width: 767px) {
    /* Common Css */
    .mobile_px_20 {
        padding: 0 1.25rem;
    }
    
    /* Home Css */

    /* Counter Css */

    /* Features Css */
    .mobile_px_20 {
        padding: 0 1.25rem;
    }
    .margin_top_up {
        margin-top: 0rem;
    }
    
}