@media (max-width: 1030px) {
    /* Features Css */

}

@media (max-width: 991px) {
    /* Common Css */
    h1, h2 {
        font-size: 2.5rem;
    }
    .ipad_px_30 {
        padding: 0 1.875rem;
    }
    
    /* Header Css */
    .navbar {
        padding-top: 0.625rem;
        padding-bottom: 0.75rem;
    }
    .navbar-brand {
        width: 50%;
    }
    .navbar-brand img {
        max-width: 60%;
    }
    .navbar-toggler {
        padding-right: 0;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler-icon {
        color: var(--text-white);
        width: 1em;
        height: 1em;
    }

    /* Home Css */

    /* Pricing Css */
    
}

@media (max-width: 767px) {
    /* Common Css */
    .mobile_px_20 {
        padding: 0 1.25rem;
    }
    
    /* Home Css */

    /* Counter Css */

    /* Features Css */
    .mobile_px_20 {
        padding: 0 1.25rem;
    }
    .margin_top_up {
        margin-top: 0rem;
    }
    
}